.App{
  margin: 50px 50px 50px 50px;
}

#header{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  color: rgb(16, 104, 145);
}

.box1{
  justify-content: center;
  align-items: center;
}

#button{
  /* margin: 10px; */
  padding: 10px 10px 20px 10px;

  color: aliceblue;
  font-weight: bold;
  border-radius: 5px;
  border-color:blue;
  background-color:blue;
}

Input{
  background-color: white;
  padding: 3px 40px 3px 40px;
}